
{% extends 'easytrade/base.html' %}
{% load static %}
{% block content %}
     <article class="basket">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if basket %}
                    <div class="order-list">
                        Список замовлених товарів
                        {% for order in basket %}
                        <div class="order">
                            <div class="row">
                                <div class="col-1">
                                    <div class="image">
                                        <img src="{{ order.good.photo.url }}" alt="">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex flex-column justify-content-center column">
                                        <p class="">{{ order.good }}</p>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="d-flex flex-column justify-content-center column">
                                        <p class=""> {{ order.good.end_price }}</p>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="d-flex flex-column justify-content-center column">
                                        <p class=""> {{ order.number_of_goods }}</p>
                                        <p class=""> {{ order.value }}</p>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="d-flex flex-column justify-content-center column">
                                        <form method="get">
                                            <input type="hidden" name="delete" value="{{ order.pid }}">

                                            <input type="submit" class="delete" style="background-image: url({%static 'easytrade/images/delete.png'%});width: 30px; background-size: 100%;background-repeat: no-repeat;" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <form id="basket" action="{% url 'basket' %}">
                        <label for="description">Опис</label>
                        <input id="description" name="description" type="text">
                        <label for="address">Адреса</label>
                        <input id="address" name="address" type="text" required>
                        <label for="telephone">Телефон</label>
                        <input id="telephone" name="telephone" type="tel" pattern="[0-9]{10}" required>
                        <input type="hidden" value="1" name="save">
                        <input type="submit">
                    </form>
                    {% else %}
                    <h1>Немає обраних товарів</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}