{% extends 'easytrade/base.html' %}
{% block content %}

  <article class="good">
    <div class="container">
      <h1>{{ good }}</h1>
      <p class="articul">Артикул: {{ good.articul }}</p>
      <div class="row">
        <div class="col-6">
          <div class="photo">
            <img src="{{ good.photo.url }}" alt="">
          </div>
        </div>
        <div class="col-6">
          <form action="{% url 'order' good.slug %}">
          <div class="price-box">
            <p class="price">
              <spam id = 'prise'>{{ good.end_price }}</spam> hrn
            </p>
            <p>кількість</p>
            <div id="minus" class="count-button">-</div>
            <p id="countresult" class="count">
              1
            </p>
            <input type="hidden" name="count" id="result" value="1">
            <div id="plus" class="count-button">+</div>
            <p class="sum">Вьсого: <span id="sum">{{ good.end_price }}</span> грн</p>
            <input type="submit" value="Замовити" class="bth slider-item price-box-btn">
          </div>
          </form>
        </div>
      </div>
      <h1>
        Опис
      </h1>
      <p>{{ good.description }}</p>
    </div>
  </article>

{% endblock %}