#slow_nav{
    position: absolute;
}

#slow_nav img.menu{
    margin-top: 10px;
    max-height: 39px;
}

#slow_nav  ul.super-category{
    position: relative;
    top: 1px;
    left: -10px;
    background: #626262;
    margin:0;
    padding: 0;
    display: none;
    list-style-type: none;
}

#slow_nav  li.super-category {
    width: 400px;
    padding: 3px 5px;
    border-bottom: 1px solid black;

}


#slow_nav p.super-category{
    display: inline-block;
    margin: 0;
    padding: 0;
}

#slow_nav li.super-category:hover{
    cursor: pointer;
    background: #494949;
}


#slow_nav ul.category{
    position: absolute;
    top: 0px;
    right: -300px;
    display: none;
    width: 300px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 100%;
    padding: 0;
}

#slow_nav li.category{
    display: block;
    background: #0a53be;
    text-decoration: none;
}

#slow_nav img.category-image{
    display: inline-block;
    width: 30px;
}